# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
venv/
.env/

# ==========================
# YOLO / Model Weights
# ==========================
*.pt
*.pth
*.onnx
*.pdf
# ==========================
# Videos & Outputs
# ==========================
*.zip
*.mp4
*.avi
*.mov

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Editor / IDE
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Frontend (Vite/React)
# ==========================
kabaddi-frontend/node_modules/
kabaddi-frontend/dist/
kabaddi-frontend/.npm-cache/
kabaddi-frontend/.vite/
kabaddi-frontend/.env
kabaddi-frontend/.env.*

react-dashboard/node_modules/
react-dashboard/.next/