# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
venv/
.env/

# ==========================
# YOLO / Model Weights
# ==========================
*.pt
*.pth
*.onnx
*.pdf
# ==========================
# Videos & Outputs
# ==========================
Videos/
*.mp4
*.avi
*.mov

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Editor / IDE
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
*.log
